<h3>Une de vos candidature a été acceptée</h3>

<p>{{ firstName }}, </p>

<p>Votre candidature pour l'offre <b><i>{{ jobOfferTitle }}</i></b> a été acceptée.</p>
<p><b>Titre : </b>{{ jobOfferTitle }}<br>
<b>Description : </b>{{ jobOfferDescription }}</p>
<b>Date de postulation : </b>{{ postulationDate|localizeddate('long', 'none') }}
<p>Vous trouverez toutes les informations nécessaires de l'employeur en cliquant sur le lien suivant :
    <a href="{{ url('showDetailsEmployer', {'username': username}) }}">Informations employeur</a>
</p>
