<h3>Une de vos candidature a été refusée</h3>

<p>{{ firstName }}, </p>

<p>Votre candidature pour l'offre <b><i>{{ jobOfferTitle }}</i></b> a été refusée.</p>
<p><b>Titre : </b>{{ jobOfferTitle }}<br>
    <b>Description : </b>{{ jobOfferDescription }}</p>
<b>Date de postulation : </b>{{ postulationDate|localizeddate('long', 'none') }}
