<h3>Suppression d'une annonce</h3>

<p>{{ userFirstName }}</p>
<p>Une de vos annonces a été supprimée du site car elle allait à l'encontre des <a href="{{ url('conditions') }}">conditiions générales d'utilisation</a></p>
<p><b>Titre</b> : {{ offerTitle }}</p>
<p><b>Publiée le</b> : {{ offerPublicationDate|localizeddate }}</p>
<p>Pour plus de détails, n'hésitez pas à nous <a href="mailto:{{ email }}">contacter</a></p>