{% extends 'base.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
    {% endfor %}

    {{ form_start(loginForm) }}
    {{ form_row(loginForm.username) }}
    {{ form_row(loginForm.password) }}

    <div class="row align-items-center">
        <div class="col-6">
            {{ form_row(loginForm.remember_me) }}
        </div>
        <div class="col-6 text-right">
            {{ form_row(loginForm.login) }}
        </div>
    </div><div class="row align-items-center">
        <div class="col-6">
            <a href="{{ path('registration') }}">Pas encore inscrit ?</a>
        </div>
        <div class="col-6 text-right">
            <a href="#" data-toggle="modal" data-target="#newPassword">Identifiants oubliés ?</a>
        </div>
    </div>
    {{ form_end(loginForm) }}

    {% include 'modal/newCredentials.html.twig' %}
{% endblock %}