{% extends 'base.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    {{ form_end(loginForm) }}

    {% include 'modal/newCredentials.html.twig' %}

    <a href="#" data-toggle="modal" data-target="#newPassword">Identifiants oubliés ?</a>
    <a href="{{ path('registration') }}">Pas encore inscrit ?</a>
{% endblock %}