{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(registerForm) }}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Identifiants</h5>
            {{ form_row(registerForm.username) }}
            {{ form_row(registerForm.password) }}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Informations personnelles</h5>
            {{ form_row(registerForm.lastName) }}
            {{ form_row(registerForm.firstName) }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    {{ form_label(registerForm.birthdate, 'Date de naissance', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(registerForm.birthdate) }}
            </div>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.phoneN1) }}
            {{ form_row(registerForm.phoneN2) }}
            {{ form_row(registerForm.address) }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    {{ form_label(registerForm.city, 'Localité', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(registerForm.city) }}
            </div>
            {{ form_row(registerForm.cgu) }}
        </div>
    </div>
{{ form_end(registerForm) }}
{% endblock %}