{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    {{ dump(app.user) }}
    <div class="row mx-auto">
        <div class="col px-0">
            <button class="btn btn-primary" id="btnViewOffersJob">Je recherche un emploi</button>
            <button class="btn btn-primary" id="btnViewOffersSearch">J'offre un emploi</button>
        </div>

        {% for message in app.flashes('success') %}
            <div class="col alert alert-success mb-auto">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="visible" id="listOffers">
        {{ form_start(filterForm) }}

        <div class="form-group d-flex align-content-between">
            <div class="input-group m-auto">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.place, 'Lieu', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.place) }}
            </div>
            <div class="input-group m-auto px-5">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.date, 'Date', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.date) }}
            </div>
            <div class="input-group m-auto pr-2">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.category, 'Catégorie', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.category) }}
            </div>
            {{ form_widget(filterForm.filter) }}
        </div>

        {{ form_end(filterForm) }}

        <div class="table-responsive">
            <table class="table mx-auto table-hover text-center">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Catégorie</th>
                        <th>Publiée le</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if offers is empty %}
                    <tr>
                        <td colspan="6">
                            Il y actuellement aucune offres en attente
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Taille d'arbre" data-description="Recherche personne pour tailler des arbres" data-city="2800 Delémont" data-categpry="Jardinage" data-publicationDate="06.07.2018" id="offerTitle">Taille d'arbres</td>
                        <td>Recherche personne pour tailler des arbres</td>
                        <td>2800 Delémont</td>
                        <td>Jardinage</td>
                        <td>06.07.2018</td>
                        <td id="showOfferDetails" data-toggle="modal" data-target="#detailsOffer"><a href="#"><span class="fas fa-info"></span></a></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div
    </div>
{% endblock %}