{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row mx-auto">
        <div class="col px-0">
            <button class="btn btn-primary btnSelect" name="btnSelect" id="btnViewOffersJob" data="offerJob">Offres d'emploi</button>
            <button class="btn btn-primary btnSelect" name="btnSelect" id="btnViewOffersSearch" data="searchJob">Personnes</button>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

    </div>

    <div class="visible" id="listOffers">
        {% if filterForm is defined %}
        {{ form_start(filterForm) }}

        <div class="form-group d-flex">
            <div class="input-group">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.place, 'Lieu', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.place) }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.date, 'Date', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.date) }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    {{ form_label(filterForm.category, 'Catégorie', {
                        'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_widget(filterForm.category) }}
            </div>
            {{ form_widget(filterForm.filter) }}
        </div>

        {{ form_end(filterForm) }}
        {% endif %}

        {% if offers is defined %}
        <div class="table-responsive">
            <table class="table mx-auto table-hover text-center">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Catégorie</th>
                        <th>Publiée le</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if offers is not empty %}
                    {% for offer in offers %}
                        <tr data-id="{{ offer.id }}" data-page="listOffers" data-title="{{ offer.title }}" data-description="{{ offer.description }}" data-city="{{ offer.city }}" data-category="{{ offer.category }}" data-publicationDate="{{ offer.publicationDate|date('d.m.Y') }}"">
                            <td>{{ offer.title[:20] }}</td>
                            <td>{{ offer.description[:55] }} ...</td>
                            <td>{{ offer.city }}</td>
                            <td>{{ offer.category }}</td>
                            <td>{{ offer.publicationDate|date('d.m.Y') }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#detailsOffer"><span class="fas fa-info" id="showDetailsOffer"></span></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">
                            Il y actuellement aucune offres en attente
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    {% include 'modal/detailsOffer.html.twig' %}
{% endblock %}