{% extends 'base.html.twig' %}

{% block content %}
    {% block title %}
        {% include 'utils/title.html.twig' %}
    {% endblock %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center">{{ message }}</div>
    {% endfor %}
    <div class="visible" id="listOffers">
        {{ form_start(filterForm, {'attr': {'id': 'filterForm'} } ) }}
        <div class="row">
            <div class="col-3">
                {{ form_widget(filterForm.city) }}
            </div>
            <div class="col-3">
                {{ form_widget(filterForm.district) }}
            </div>
            <div class="col">
                {{ form_widget(filterForm.category) }}
            </div>
            <div class="col">
                {{ form_widget(filterForm.filter) }}
            </div>
            <div class="col">
            {% if not is_granted('ROLE_USER') %}
                {% if 'offre-emploi' in app.request.server.get('HTTP_REFERER') %}
                    <input id="addOffer" type="button" class="btn btn-primary" value="Nouvelle recherche d'emploi" onclick="window.location.href='{{ path('login') }}'" />
                {% else %}
                    <input id="addOffer" type="button" class="btn btn-primary" value="Nouvelle offre d'emploi" onclick="window.location.href='{{ path('login') }}'" />
                {% endif %}
            {% else %}
                {% if 'offre-emploi' in app.request.server.get('HTTP_REFERER') %}
                    <input id="addOffer" type="button" class="btn btn-primary" value="Nouvelle recherche d'emploi" onclick="window.location.href='{{ path('addOffer') }}'" />
                {% else %}
                    <input id="addOffer" type="button" class="btn btn-primary" value="Nouvelle offre d'emploi" onclick="window.location.href='{{ path('addOffer') }}'" />
                {% endif %}
            {% endif %}
            </div>
        </div>
        {{ form_end(filterForm) }}
        <div class="row"></div>
        <div>
            <table class="table mx-auto table-hover text-center" id="tableListOffers">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Catégorie</th>
                        <th>Publiée le</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="offerList">
                {% if offers is not empty %}
                    {% for offer in offers %}
                        <tr>
                            {% if offer.title|length > 20 %}
                                <td>{{ offer.title|slice(0,20) }}...</td>
                            {% else %}
                                <td>{{ offer.title }}</td>
                            {% endif %}
                            {% if offer.description|length > 50 %}
                                <td>{{ offer.description|slice(0,50) }}...</td>
                            {% else %}
                                <td>{{ offer.description }}</td>
                            {% endif %}
                            <td>{{ offer.city }}</td>
                            <td>{{ offer.category }}</td>
                            <td>{{ offer.publicationDate|localizeddate('long', 'none') }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#detailsOffer" id="showDetailOffer" data-id="{{ offer.id }}" data-page="listOffers" data-title="{{ offer.title }}" data-description="{{ offer.description }}"
                                data-city="{{ offer.city }}" data-category="{{ offer.category }}" data-publicationDate="{{ offer.publicationDate|localizeddate('long', 'none') }}"
                                data-type="{{ offer.offerType }}"><span class="fas fa-info"></span></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="6"> Il y actuellement aucune offres en attente</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'modal/detailsOffer.html.twig' %}
{% endblock %}