{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Offres d'emplois en cours :
                            <span class="badge badge-info badge-pill">{{ offerJob|length }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Recherches d'emplois en cours :
                            <span class="badge badge-info badge-pill">{{ searchJob|length }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Annonces à renouveler :
                            <span class="badge badge-info badge-pill">{{ toRenew }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body offerPostulations">
                    <h5 class="card-title">Offres</h5>
                    {% if selectOffer is defined %}
                    {{ form_start(selectOffer) }}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            {{ form_label(selectOffer.offers, 'Annonce', {
                                'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(selectOffer.offers) }}
                    </div>
                    {{ form_end(selectOffer) }}
                    {% endif %}

                    <ul class="list-group list-group-flush" id="listPostulations">
                    {% if offerPostulations is defined %}
                        {% for postulation in offerPostulations %}
                                <li class="list-group-item d-flex align-items-center">
                                    {% if postulation.user is not null %}
                                    <div class="d-inline-flex w-75">{{ postulation.user }}</div>
                                    {% endif %}
                                    {% if not postulation.status and postulation.responseDate is null %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-hourglass-half"></span></div>
                                    {% elseif not postulation.status and postulation.responseDate is not null %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-times"></span></div>
                                    {% else %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-check"></span></div>
                                    {% endif %}
                                    <div class="d-inline-flex w-25 justify-content-center"><a href="{{ path('userDetail', {'username': postulation.user.username, 'jobOfferTitle': postulation.jobOffer.title}) }}"><span class="fas fa-info"></span></a></div>
                                </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p><i>Vous avez actuellement aucune postulation pour l'offre sélectionnée</i></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Postulations</h5>
                    {% if app.user.postulations|length > 0 %}
                        {% for postulation in app.user.postulations %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="d-inline-flex w-75">{{ postulation.jobOffer }}</div>
                                    {% if not postulation.status and postulation.responseDate is null %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-hourglass-half"></span></div>
                                    {% elseif not postulation.status and postulation.responseDate is not null %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-times"></span></div>
                                    {% else %}
                                        <div class="d-inline-flex w-25 justify-content-center"><span class="fas fa-check"></span></div>
                                    {% endif %}
                                    <div class="d-inline-flex w-25 justify-content-center"><a href="#" data-toggle="modal" data-target="#detailsOffer" data-id="{{ postulation.jobOffer.id }}" id="showDetailOfferFromMyOffers" data-content="postulations"><span class="fas fa-info"></span></a></div>
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                    <p><i>Vous avez actuellement aucune postulation en cours</i></p>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-between mx-0">
                <div class="col-xl-4 col-lg-6 col-md-6"><span class="fas fa-check"></span><p class="d-inline-block infoState">&nbsp;<em>Répondu</em></p></div>
                <div class="col-xl-4 col-lg-6 col-md-6"><span class="fas fa-hourglass-half"></span><p class="d-inline-block infoState">&nbsp;<em>En attente</em></p></div>
                <div class="col-xl-4"><span class="fas fa-times"></span><p class="d-inline-block infoState">&nbsp;<em>Refusé</em></p></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center" id="infoManagerMyOffer">
        <span class="table-success col-2 text-center rounded mx-auto"><em>Publiée</em></span>
        <span class="table-secondary col-2 text-center rounded mx-auto"><em>Clôturée</em></span>
        <span class="tableWarning col-2 text-center rounded mx-auto"><em>Non-publiée</em></span>
        <span class="table-danger col-2 text-center rounded mx-auto"><em>Fermeture proche</em></span>
    </div>

    <div class="table-responsive" id="listOffers">
        <table class="table mx-auto table-hover text-center">
            <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Catégorie</th>
                <th>Type</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if jobOffers %}
                {% for jobOffer in jobOffers %}
                    {% if jobOffer.isActive and jobOffer.closing is null and jobOffer.renewalDate.diff(jobOffer.publicationDate).days > 14 %}
                        <tr class="table-success" data-id="{{ jobOffer.id }}" data-title="{{ jobOffer.title }}" data-description="{{ jobOffer.description }}" data-city="{{ jobOffer.city }}" data-category="{{ jobOffer.category }}" data-publicationDate="{{ jobOffer.publicationDate|date('d.m.Y') }}">
                    {% elseif jobOffer.isActive and jobOffer.closing is null and jobOffer.renewalDate.diff(jobOffer.publicationDate).days <= 14 %}
                        <tr class="table-danger" data-id="{{ jobOffer.id }}" data-title="{{ jobOffer.title }}" data-description="{{ jobOffer.description }}" data-city="{{ jobOffer.city }}" data-category="{{ jobOffer.category }}" data-publicationDate="{{ jobOffer.publicationDate|date('d.m.Y') }}">
                    {% elseif not jobOffer.isActive and jobOffer.closing is null %}
                        <tr class="tableWarning" data-id="{{ jobOffer.id }}" data-title="{{ jobOffer.title }}" data-description="{{ jobOffer.description }}" data-city="{{ jobOffer.city }}" data-category="{{ jobOffer.category }}" data-publicationDate="{{ jobOffer.publicationDate|date('d.m.Y') }}">
                    {% else %}
                        <tr class="table-secondary" data-id="{{ jobOffer.id }}" data-title="{{ jobOffer.title }}" data-description="{{ jobOffer.description }}" data-city="{{ jobOffer.city }}" data-category="{{ jobOffer.category }}" data-publicationDate="{{ jobOffer.publicationDate|date('d.m.Y') }}">
                    {% endif %}
                    {% if jobOffer.closing is null and jobOffer.isActive %}
                        <td class=""><input class="form-check-input mx-auto" type="checkbox" value="{{ jobOffer.id }}" id="checkBoxRenewal"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                        <td id="offerTitle">{{ jobOffer.title }}</td>
                        <td>{{ jobOffer.description[:15] }}...</td>
                        <td>{{ jobOffer.city }}</td>
                        <td>{{ jobOffer.category }}</td>
                        {% if jobOffer.offerType == 'offerJob' %}
                        <td>Offre d'emploi</td>
                        {% else %}
                        <td>Recherche d'emploi</td>
                        {% endif %}
                        {% if jobOffer.isActive and jobOffer.closing is null %}
                        <td>Publiée</td>
                        {% elseif not jobOffer.isActive and jobOffer.closing is null %}
                        <td>À publier</td>
                        {% else %}
                        <td>Clôturée</td>
                        {% endif %}
                        <td class="d-flex align-items-center justify-content-between">
                            <a href="#" data-toggle="modal" data-target="#detailsOffer" id="showDetailOfferFromMyOffers" data-id="{{ jobOffer.id }}" data-content="myOffer"><span class="fas fa-info"></span></a>
                            <a href="{{ path('editOffer', {'id': jobOffer.id } ) }}"><span class="fas fa-edit"></span></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Aucune offre trouvée</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if jobOffers %}
        <button class="btn btn-primary" id="renewSelected">Renouveler les annonces sélectionnées</button>
        {% endif %}
    </div>

    {% include 'modal/detailsOffer.html.twig' %}
{% endblock %}