{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    <div class="d-flex justify-content-between">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Identifiants</h5>
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="card" style="width: 45%;">
            <div class="card-body">
                <h5 class="card-title">Mes documents</h5>
                <p>CV.pdf</p>
                <p>lettre_de_motivation.pdf</p>
                <button class="btn btn-primary">Ajouter des documents</button>
            </div>
        </div>
    </div>
    <div class="mx-auto w-50">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Informations personnelles</h5>
                {% if app.user.picture is null %}
                    <p class="font-italic">Aucune photo de profil définie</p>
                {% else %}
                    <img class="card-img-top" src="" alt="Photo de profil">
                {% endif %}
                {{ form_row(form.lastName) }}
                {{ form_row(form.firstName) }}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        {{ form_label(form.birthdate, 'Date de naissance', {
                            'label_attr': {'class': 'input-group-text'}}) }}
                    </div>
                    {{ form_widget(form.birthdate) }}
                </div>
                {{ form_row(form.email) }}
                {{ form_row(form.phoneN1) }}
                {{ form_row(form.phoneN2) }}
                {{ form_row(form.address) }}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        {{ form_label(form.city, 'Localité', {
                            'label_attr': {'class': 'input-group-text'}}) }}
                    </div>
                    {{ form_widget(form.city) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}