{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert-success">
            {{ message }} Vous pouvez maintenant vous <a href="{{ path('login') }}">connectez</a>
        </div>
    {% endfor %}

    {{ form_start(formNewPassword) }}
    {{ form_widget(formNewPassword) }}
    {{ form_end(formNewPassword)}}
{% endblock %}