{% extends 'base.html.twig' %}

{% block content %}
    <div class="mx-auto w-50">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Détails de l'utilisateur <i>{{ user.username }}</i></h5>
                {% if user.picture is not null %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(user, 'pictureFile') }}" alt="Photo de profil">
                {% else %}
                    <p><i>Aucune photo de profil définie</i></p>
                {% endif %}
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Nom :</div>
                    <div class="d-inline-flex">{{ user.lastName }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Prénom :</div>
                    <div class="d-inline-flex">{{ user.firstName }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Adresse :</div>
                    <div class="d-inline-flex">{{ user.address }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Localité :</div>
                    <div class="d-inline-flex">{{ user.city }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Téléphone :</div>
                    {% if user.phoneN2 is not empty %}
                        <div class="d-inline-flex">{{ user.phoneN1 }} / {{ user.phoneN2 }}</div>
                    {% else %}
                        <div class="d-inline-flex">{{ user.phoneN1 }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">Date de naissance :</div>
                    <div class="d-inline-flex">{{ user.birthdate|localizeddate('long', 'none') }}</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Documents</h5>
            {% if userDocument is not empty %}
                {% for document in userDocument %}
                    <p>{{ document.originalName }} - <a href="{{ url('download', {'userId': user.id, 'documentId': document.id}) }}">Télécharger</a></p>
                {% endfor %}
            {% else %}
                <p><i>L'utilisateur n'a actuellement document</i></p>
            {% endif %}
            </div>
        </div>
        {% if alreadyResponded is defined and not alreadyResponded %}
        <div class="d-flex justify-content-between">
            <input type="hidden" id="postulationValues" value="{{ postulationID }}/{{ user.id }}">
            <button class="btn btn-primary d-inline-flex" id="rejectPostulation">Refuser la candidature</button>
            <button class="btn btn-primary d-inline-flex" data-toggle="modal" data-target="#chequeEmploi">Engager les discussions</button>
        </div>
        {% else %}
            <a href="{{ path('manageOffers') }}">Retour</a>
        {% endif %}
    </div>

    <div class="modal fade" id="chequeEmploi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chéque-Emploi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vous vous apprétez à engager des discussion avec un potentiel employé. Voulez-vous utiliser le formulaire
                    Chèque-Emploi ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="acceptPostulation">Non merci</button>
                    <button type="button" class="btn btn-primary" id="downloadChequeEmploi">Télécharger et accepter la postulation</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}